body {
    font-family: 'Inria Serif', serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    color: white;
    padding: 10px 20px;
    align-items: center;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
    unicode-bidi: isolate;
    justify-content: space-between;
}

    

.h2 a{
    text-decoration: none;
    color: black;
    font-size: 32px;    
}


.header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    gap: 15px;
    
}

.header nav ul li {
    display: inline;
    margin: 0 10px;
}

.header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;

}
.header nav ul li a:hover {
    border-radius: 5px;
    color: #9335B6;

}

.button a{
    color: #9335B6;
    background:#f4eaf9;
    border-color:#f4eaf9;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
    transition: all .2s linear;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    font-family: 'Inria Serif', serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1em;
    cursor: pointer;
    display: flex;
    width: 150px;
    justify-content: center;
    border: none;
    text-decoration: none;
    
}


.button a:hover{
    background-color: #9335B6;
    color: white;
}

.parent-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containera {
    flex: 1;
    background-color: #f4eaf9;
    border-bottom-right-radius: 150px;
    width: 45%;
    height: 550px;
    margin-left: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 200px;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
}

.containera h1 {
    font-size: 3.125rem;
    font-weight: 500;
    font-family: 'Inria Serif', serif;
    line-height: 1.2em;
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: black;
    font-family: 'Inria Serif', serif;

}


.containera p {
    font-size: 1.2em;
    color: black;
    font-family: 'Inria Serif', serif;
    margin-bottom: 28px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.container1a {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .form {
    width: 350px;
    background: #f4eaf9;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 1rem;
    align-items: center;
    text-align: center;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  
  .form h1 {
    margin-bottom: 20px; 
    font-size: 24px; 
    color: black; 
  }

  .registeras {
    color: #9335B6;
  }
  
  .radio-container {
    margin-bottom: 10px;
  }

  .radio-container input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

  .radio-container input[type="radio"]:checked {
    background-color: #f4eaf9;
    border-color: #f4eaf9;
}

.radio-container input[type="radio"]:checked::before {
    content: '';
    display: block;
    border-radius: 50%;
    background-color:#9335B6;
}

  .radio {
    margin-right: 20px;
    font-weight: bold;
  }

  .radio1 {
    font-weight: bold;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="date"],
  .form input[type="number"],
  .form input[type="password"] {
    padding: 12px; 
    margin: 2% 0; 
    border: 2px solid lightgrey; 
    border-radius:20px;
    box-sizing: border-box; 
    font-size: 16px; 
    outline: none;
  }
  
  .errors {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 12px;
    padding: 0px 2rem;
  }
  
  .button1 {
    width: 30%; 
    padding: 10px; 
    background-color: #9335B6; 
    color:white; 
    border: none; 
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 16px; 
    cursor: pointer; margin-top: 10px;
    margin-left: 120px;
  }
  
  .button1 :hover {
    background-color:#f4eaf9; 
    color: #9335B6;
  }
  
  .form a {
    display: block; 
    margin-top: 20px; 
    text-align: center; 
    color: #9335B6; 
    text-decoration: none; 
  }
  
  .form a:hover {
    text-decoration: underline; 
  }



.parent-container2{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container2{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    flex-direction: row;
    box-sizing: inherit;
}

.img3{
    flex: 1;
    object-fit: cover;
    width: 645px;
    height: 500px;
    box-shadow: 0px 0px 0 #00000070;
    border-top-left-radius: 200px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    max-width: 100%;
    transition: box-shadow 0.2s ease;
    vertical-align: middle;
    border: 0;
    aspect-ratio: auto 645 / 500;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-right: 100px;
}

.about{
    flex: 2;
}

.about h2{
    margin-bottom:20px;
    margin: 0;
    word-break: break-word;
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.about p{
    margin-bottom: 7px;
    margin: 0;
    word-break: break-word;
    order: 0;
    font-size: 16px;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family:'DM Sans', sans-serif;
    line-height: 1.65;
}

.hr{
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
    border-color: #EAD5F3;
    margin-bottom: 0px;
    font-size: 0;
    display: inline-block;
    margin: 0 0 10px 0;
}

.info{
    color: #110713;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    word-break: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: left;

}

.social-menu{
    display: flex;
}

.social-menu ul{
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    
}

.social-menu ul li{
    list-style: none;
    margin: 0 12px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #1877F2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #FCAF45;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: 	#FF0000;
}
.social-menu ul li:nth-child(5) a:hover{
    background-color: #1DA1F2;
}


.container3{
    box-shadow: 0px 0px #00000070;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: visible;
    border-color: inherit;
    row-gap: 0px;
    column-gap: 0px;
    background-color: #f4eaf9;
}

.container3 h2{
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
}

.img-stack {
    display: flex;
    flex-wrap: wrap;
}

.img-stack div {
    position: relative;
    width: 25%;
    height: 500px;
    margin: 0;
    overflow: hidden;
}

.img-stack div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.img-stack1 {
    background: url('../img/img-4.jpg') center/cover no-repeat;
}

.img-stack2 {
    background: url('../img/img-5.jpg') center/cover no-repeat;
}

.img-stack3 {
    background: url('../img/img-6.avif') center/cover no-repeat;
}

.img-stack4 {
    background: url('../img/img-7.avif') center/cover no-repeat;
}

.img-stack h3 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    margin-bottom: 24px;
    margin-top: 350px;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.5em;
    text-align: center;
    
}



.parent-container4 {
    background-color: #f4eaf9;
    border-radius: 120px 0px 120px 0px;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 150px;
    
}

.container4 {
    text-align: center;
    box-shadow: 0px 0px #00000070;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.container4 h2 {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 10px;
}

.container4 p {
    font-size: 1em;
    color: #5b5b5b;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}



.parent-container5 {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
  }

  .work{
    font-size: 1.5rem;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .container5 {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    column-gap: 24px;
  }

  
  .container5 figure {
    margin: 0rem; 
  }
  
.img10 {
    width: 250px;
    height: 260px;
}

.img10 img {
    width: 250px;
    height: 260px;
    object-fit: cover;

}

.img11 {
    width: 250px;
    height: 320px;
}

.img11 img {
    width: 250px;
    height: 320px;
    object-fit: cover;

}

.img12 {
    width: 300px;
    height: 400px;
}

.img12 img {
    width: 300px;
    height: 400px;
    object-fit: cover;

}

.img9 {
    width: 250px;
    height: 320px;
}

.img9 img {
    width: 250px;
    height: 320px;
    object-fit: cover;

}

.img8 {
    width: 250px;
    height: 260px;
}

.img8 img {
    width: 250px;
    height: 260px;
    object-fit: cover;

}
  
  .container5 figcaption {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 20px;
    align-self: center;
    
  }


.parent-container6 {
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    margin-bottom: 100px;
}

.couples h2{
    display: block;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    padding-top: 80px;
    padding-bottom: 40px;
}

.batch1, .batch2, .batch3 {
    background: #fff;
    border-top-left-radius: 80px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 80px;
    padding: 40px;
    text-align: center;
    width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.star, .star1, .star2 {
    color: #FFA500;
    font-size: 24px;
    margin-bottom: 15px;
}

.info1, .info2, .info3 {
    background-color: #f7f7ff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.message, .message2, .message3 {
    font-size: 16px;
    color:black;
    margin-bottom: 15px;
}

.img13 img, .img14 img, .img15 img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.name, .name1, .name2 {
    font-weight: bold;
    font-size: 18px;
    color:black;
}


.parent-container7 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#f4eaf9;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.check h2 {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    justify-content: center;
    margin-left: 33px;
    margin-right: 33px;
}

.insta a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px 0px 25px 0px;
    font-weight: bold;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    background-color: #8e3bb6;
    color: white;
}

.insta a:hover{
    background-color:white;
    color: #9335B6;
}

.container7 {
    display: flex;
    gap: 20px;
    
}


.img16, .img17, .img18, .img19, .img20{
    width: 262px;
    height: 262px;
}

.img16 img, .img17 img, .img18 img, .img19 img, .img20 img{
    object-fit: cover;
    width: 262px;
    height: 262px;
}

.img17, .img19{
    margin-top: 40px;
}


.parent-container8 {
    background-color: #f5eafa; 
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(0deg, #1e0118 50%, #f5eafa 50%);

}

.container8 {
    background-color: #fff;
    box-shadow: 0px 0px #00000070;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: visible;
    border-top-left-radius: 120px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 120px;
    border-color: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.find h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
    font-family: 'Inria Serif', serif;
    line-height: 1.25em;
    margin-top: 0px;
}

.info4 {
    font-size: 1.2em; 
    color: black; 
    margin-bottom: 28px;
    font-family: 'Inria Serif', serif;
    font-weight: lighter;
    
}

.parent-container9{
    font-family: Arial, sans-serif;
    background-color:#1e0118;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.contact-item {
    text-align: center;
}

.contact-item h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-item p {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
}




.social-icons{
    display: flex;
}

.social-icons ul{
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    
}

.social-icons ul li{
    list-style: none;
    margin: 0 12px;
}

.social-icons ul li .fab{
    font-size: 15px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-icons ul li .fab:hover{
    color: #fff;
}

.social-icons ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-icons ul li:nth-child(1) a:hover{
    background-color: #1877F2;
}
.social-icons ul li:nth-child(2) a:hover{
    background-color: #FCAF45;
}
.social-icons ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-icons ul li:nth-child(4) a:hover{
    background-color: 	#FF0000;
}
.social-icons ul li:nth-child(5) a:hover{
    background-color: #1DA1F2;
}

.parent-container10{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 30px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-top-color: rgba(255, 255, 255, 0.25);
    background-color:#1e0118 ;
    padding-right: 85px;
}

.container10{
    color: white;
}